
.af-bat:before { content: '\e800'; } /* '' */
.af-batman-face:before { content: '\e801'; } /* '' */
.af-batman-symbol:before { content: '\e802'; } /* '' */
.af-bebek-matic:before { content: '\e803'; } /* '' */
.af-bebek-pitung:before { content: '\e804'; } /* '' */
.af-bikini:before { content: '\e805'; } /* '' */
.af-binter:before { content: '\e806'; } /* '' */
.af-alegodroid:before { content: '\e807'; } /* '' */
.af-apple:before { content: '\e808'; } /* '' */
.af-avengers:before { content: '\e809'; } /* '' */
.af-bmw-logo:before { content: '\e80a'; } /* '' */
.af-borobudur:before { content: '\e80b'; } /* '' */
.af-bra:before { content: '\e80c'; } /* '' */
.af-butterfly:before { content: '\e80d'; } /* '' */
.af-cap:before { content: '\e80e'; } /* '' */
.af-captain-america-symbol:before { content: '\e80f'; } /* '' */
.af-cardigan:before { content: '\e810'; } /* '' */
.af-blazer-female:before { content: '\e811'; } /* '' */
.af-bleach-bottle:before { content: '\e812'; } /* '' */
.af-blouse:before { content: '\e813'; } /* '' */
.af-falcon:before { content: '\e814'; } /* '' */
.af-female:before { content: '\e815'; } /* '' */
.af-folded-shirts:before { content: '\e816'; } /* '' */
.af-fresherner:before { content: '\e817'; } /* '' */
.af-cart:before { content: '\e818'; } /* '' */
.af-deliver-laundry:before { content: '\e819'; } /* '' */
.af-dolphin:before { content: '\e81a'; } /* '' */
.af-dragon:before { content: '\e81b'; } /* '' */
.af-dress:before { content: '\e81c'; } /* '' */
.af-eiffel:before { content: '\e81d'; } /* '' */
.af-grapes:before { content: '\e81e'; } /* '' */
.af-hamster:before { content: '\e81f'; } /* '' */
.af-hanger:before { content: '\e820'; } /* '' */
.af-hanger-alt:before { content: '\e821'; } /* '' */
.af-hanzo-hattori:before { content: '\e822'; } /* '' */
.af-harley-davidson:before { content: '\e823'; } /* '' */
.af-frog:before { content: '\e824'; } /* '' */
.af-ghost-rider-bike:before { content: '\e825'; } /* '' */
.af-gift:before { content: '\e826'; } /* '' */
.af-giraffe:before { content: '\e827'; } /* '' */
.af-hoodie:before { content: '\e828'; } /* '' */
.af-horse:before { content: '\e829'; } /* '' */
.af-hot-pants:before { content: '\e82a'; } /* '' */
.af-hulk-face:before { content: '\e82b'; } /* '' */
.af-hummer:before { content: '\e82c'; } /* '' */
.af-hat-becak:before { content: '\e82d'; } /* '' */
.af-hat-female:before { content: '\e82e'; } /* '' */
.af-hat-male:before { content: '\e82f'; } /* '' */
.af-hem:before { content: '\e830'; } /* '' */
.af-hem-long:before { content: '\e831'; } /* '' */
.af-jeep-wrangler:before { content: '\e832'; } /* '' */
.af-kara-danvers:before { content: '\e833'; } /* '' */
.af-keiko-kitagawa:before { content: '\e834'; } /* '' */
.af-kg:before { content: '\e835'; } /* '' */
.af-iron:before { content: '\e836'; } /* '' */
.af-ironman-face:before { content: '\e837'; } /* '' */
.af-jacket:before { content: '\e838'; } /* '' */
.af-jacket-o:before { content: '\e839'; } /* '' */
.af-jeans-female:before { content: '\e83a'; } /* '' */
.af-jeans-male:before { content: '\e83b'; } /* '' */
.af-lemon:before { content: '\e83c'; } /* '' */
.af-liberty:before { content: '\e83d'; } /* '' */
.af-lingerie:before { content: '\e83e'; } /* '' */
.af-liu-yi-fei:before { content: '\e83f'; } /* '' */
.af-male:before { content: '\e840'; } /* '' */
.af-kiwi:before { content: '\e841'; } /* '' */
.af-kupluk:before { content: '\e842'; } /* '' */
.af-laundry-basket:before { content: '\e843'; } /* '' */
.af-laundry-basket-1:before { content: '\e844'; } /* '' */
.af-laundry-basket-2:before { content: '\e845'; } /* '' */
.af-moto-gp:before { content: '\e846'; } /* '' */
.af-naked-bike:before { content: '\e847'; } /* '' */
.af-olaundrette:before { content: '\e848'; } /* '' */
.af-o-logo:before { content: '\e849'; } /* '' */
.af-o-m2:before { content: '\e84b'; } /* '' */
.af-mangosteen:before { content: '\e84c'; } /* '' */
.af-mercy-logo:before { content: '\e84d'; } /* '' */
.af-mice:before { content: '\e84e'; } /* '' */
.af-moto-cross:before { content: '\e84f'; } /* '' */
.af-package-plus:before { content: '\e850'; } /* '' */
.af-pagoda:before { content: '\e851'; } /* '' */
.af-paket-cipat:before { content: '\e852'; } /* '' */
.af-paket-cipatka:before { content: '\e853'; } /* '' */
.af-paket-cipatkangi:before { content: '\e854'; } /* '' */
.af-o-machine:before { content: '\e855'; } /* '' */
.af-o-pin:before { content: '\e856'; } /* '' */
.af-orange:before { content: '\e857'; } /* '' */
.af-package:before { content: '\e858'; } /* '' */
.af-package-opened:before { content: '\e859'; } /* '' */
.af-peace:before { content: '\e85a'; } /* '' */
.af-penguin-kowalski:before { content: '\e85b'; } /* '' */
.af-penguin-private:before { content: '\e85c'; } /* '' */
.af-penguin-rico:before { content: '\e85d'; } /* '' */
.af-paket-jas:before { content: '\e85e'; } /* '' */
.af-paket-jeans:before { content: '\e85f'; } /* '' */
.af-paket-langganan:before { content: '\e860'; } /* '' */
.af-panda:before { content: '\e861'; } /* '' */
.af-park-min-young:before { content: '\e862'; } /* '' */
.af-parrot:before { content: '\e863'; } /* '' */
.af-polo-shirts:before { content: '\e864'; } /* '' */
.af-pyramids:before { content: '\e865'; } /* '' */
.af-rooster:before { content: '\e866'; } /* '' */
.af-rp:before { content: '\e867'; } /* '' */
.af-penguin-skipper:before { content: '\e869'; } /* '' */
.af-phoenix:before { content: '\e86a'; } /* '' */
.af-pick-up-laundry:before { content: '\e86b'; } /* '' */
.af-pisa:before { content: '\e86c'; } /* '' */
.af-plus-minus:before { content: '\e86d'; } /* '' */
.af-skirts:before { content: '\e86e'; } /* '' */
.af-socks:before { content: '\e86f'; } /* '' */
.af-sphinx:before { content: '\e870'; } /* '' */
.af-spiderman-face:before { content: '\e871'; } /* '' */
.af-spiderman-symbol:before { content: '\e872'; } /* '' */
.af-sports-bra:before { content: '\e873'; } /* '' */
.af-short-pants:before { content: '\e874'; } /* '' */
.af-shorts:before { content: '\e875'; } /* '' */
.af-shu-qi:before { content: '\e876'; } /* '' */
.af-singlet:before { content: '\e877'; } /* '' */
.af-avocado:before { content: '\e878'; } /* '' */
.af-banana:before { content: '\e879'; } /* '' */
.af-durian:before { content: '\e87a'; } /* '' */
.af-mango:before { content: '\e87b'; } /* '' */
.af-superman-face:before { content: '\e87c'; } /* '' */
.af-superman-symbol:before { content: '\e87d'; } /* '' */
.af-suzuki-logo:before { content: '\e87e'; } /* '' */
.af-stupa:before { content: '\e87f'; } /* '' */
.af-suit:before { content: '\e880'; } /* '' */
.af-suit-o:before { content: '\e881'; } /* '' */
.af-swipe-down:before { content: '\e882'; } /* '' */
.af-taylor-swift:before { content: '\e883'; } /* '' */
.af-the-flash-face:before { content: '\e884'; } /* '' */
.af-suzuki-swift:before { content: '\e885'; } /* '' */
.af-sweater:before { content: '\e886'; } /* '' */
.af-thong:before { content: '\e887'; } /* '' */
.af-tilt-down:before { content: '\e888'; } /* '' */
.af-tilt-up:before { content: '\e889'; } /* '' */
.af-touring-bike:before { content: '\e88a'; } /* '' */
.af-the-flash-symbol:before { content: '\e88b'; } /* '' */
.af-t-shirts:before { content: '\e88c'; } /* '' */
.af-t-shirts-female:before { content: '\e88d'; } /* '' */
.af-t-shirts-kids:before { content: '\e88e'; } /* '' */
.af-toyota-sport:before { content: '\e88f'; } /* '' */
.af-trousers:before { content: '\e890'; } /* '' */
.af-watermelon:before { content: '\e891'; } /* '' */
.af-turtle:before { content: '\e892'; } /* '' */
.af-ufo:before { content: '\e893'; } /* '' */
.af-under-pants:before { content: '\e894'; } /* '' */
.af-vespa:before { content: '\e895'; } /* '' */
.af-wolverine-face:before { content: '\e896'; } /* '' */
.af-wayang-kulit-yudhistira:before { content: '\e897'; } /* '' */
.af-wwf:before { content: '\e898'; } /* '' */
.af-zebra:before { content: '\e899'; } /* '' */
.af-wayang-kulit-gunungan:before { content: '\e89a'; } /* '' */
.af-memes-uds:before { content: '\e89b'; } /* '' */
.af-memes-p:before { content: '\e89c'; } /* '' */
.af-memes-nb:before { content: '\e89d'; } /* '' */
.af-memes-ca:before { content: '\e89e'; } /* '' */
.af-doge-wow:before { content: '\e89f'; } /* '' */
.af-alegogit:before { content: '\e8a0'; } /* '' */
.af-memes-wtf:before { content: '\e8a1'; } /* '' */
.af-memes-bp:before { content: '\e8a2'; } /* '' */
.af-memes-iukwim:before { content: '\e8a3'; } /* '' */
.af-memes-yuno:before { content: '\e8a4'; } /* '' */
.af-hilo-card:before { content: '\e8a5'; } /* '' */
.af-tebak-gambar-1:before { content: '\e8a6'; } /* '' */
.af-tebak-kata-2:before { content: '\e8a7'; } /* '' */
.af-tebak-kata-1:before { content: '\e8a8'; } /* '' */
.af-cockroach:before { content: '\e8a9'; } /* '' */
.af-fly:before { content: '\e8aa'; } /* '' */
.af-ayo-tebak:before { content: '\e8ab'; } /* '' */
.af-tebak-gambar-2:before { content: '\e8ac'; } /* '' */